.logo {
  width: 100%;
  height: auto;
}

.p1 {
  text-decoration: underline;
}

.header {
  font-family: 'Sansita Swashed';
  font-size: 5.5em;
  font-weight: 400;
}

.card {
  position: relative;
  width: 500px;
  height: 250px;
  text-align: center;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: white;
  color: black;
  text-align: center;
  font-size: 2.5em;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: white;
  color: #000;
  text-align: center;
  transform: rotateY(180deg);
  font-size: 2.5em;
}

.flipCard {
  transform: rotateY(180deg);
}

.wrong {
  background-color: red;
  justify-content: space-between;
}
