{% extends "base.html" %}
{% load static %}
{% load statement %}
{% block content %}

<section>

  <div class="f6 lh-copy">
  
      <div class="pb3">
    <div><p class="p1 f3 lh-copy"><a href={% url 'leitner' %}>The Leitner System </a></p>
      <p>This site uses the Leitner system of studying Flash Cards, please click here for more info.</p></div>
    <img src="{% static 'LeitnerSmall.jpeg' %}">
</div>
    <div class="p1 f3 lh-copy"><h1>All Flash Card Decks</h1></div>
</div>
      <a href={% url 'add_deck' pk=user.pk %}>Add a New Deck</a>

  {% for deck in decks %}
  {% if deck.deck_user_id == user.id %}
  <div class="pb3">
  <div class="box w-60 h-75 pb7 pt4">
      <p class="p1 f3 lh-copy">{{ deck.name }} </p>
      <p>{{ deck.description }} </p>
<div class="pt4">

<a href={% url 'edit_deck' slug=deck.slug pk=user.pk %} class=>Edit Deck |</a>
<a href={% url 'delete_deck' slug=deck.slug%} class=>Delete Deck |</a>
<a href={% url 'add_flashcard' slug=deck.slug %}>Add Flashcard |</a>
<a href={% url 'show_flashcards' slug=deck.slug %} class=>Show all Flashcards in Deck |</a>
<a href={% url 'choose_box' deck.slug %}>Study Flashcards </a>
          
          
          
    </div>
 </div>
</div>

  {% endif %}
  {% endfor %}
 
</section>


{% endblock content %}
