{% extends "base.html" %}

{% block content %}
<h1>Edit Flashcard</h1>

<div class="control">
<form action="{% url 'edit_flashcard' pk=flashcard.pk slug=deck.slug %}" method="POST">
    {% csrf_token %}
    <div class="w-60">
    <div>Prompt:<input class="input" type="text" name={{form.prompt.html_name}} id="flashcard-prompt-input" value="{{flashcard.prompt}}"></div>
    <div>Answer:<input class="input" type="text" name={{form.answer.html_name}} id="flashcard-answer-input" value="{{flashcard.answer}}"></div>
    </div>
    <div>Box(Select 1-4):<input class="input" type="text" maxlength="1" pattern="[1-4]{1}" name={{form.box.html_name}} id="flashcard-box-input" value="{{flashcard.box.id}}"></div>
</div>
    <div>
    <button class="button is-primary" type="submit">Save changes</button>
    </div>
</form>


{% endblock content %}

