{% extends "base.html" %}

{% block content %}
<h1>Edit Flashcard</h1>

<div class="control">
<form action="{% url 'edit_flashcard' pk=flashcard.pk slug=deck.slug %}" method="POST">
    {% csrf_token %}
    <div class="w-60">
    <div>Prompt:<input class="input" type="text" name={{form.name.html_name}} id="flashcard-prompt-input" value="{{flashcard.prompt}}"></div>
    <div>Answer:<input class="input" type="text" name={{form.name.html_name}} id="flashcard-answer-input" value="{{flashcard.answer}}"></div>
    </div>
    <div>
    <label for="{{form.answer.id_for_label}}">{{form.answer.label }}</label>
    {{ form.answer.as_widget }}
    </div>
    <div class="mt3">
    <button class="button is-primary" type="submit">Save changes</button>
    </div>
</form>

{% endblock content %}