{% extends "base.html" %}
{% load static %}

{% block content %}

<header class="">
    <a href={% url "homepage" %} class=""><h1 class="">Shadow Clan's Flashcards</h1></a>
    <nav class="">
      <div class="">
      
        {% if user.is_authenticated %}
          <a href={% url 'auth_logout' %} class="">Log Out</a>
        
        {% else %}
          <a href={% url 'registration_register' %} class="">Register</a>
          <a href={% url 'auth_login' %} class="white ml2">Log In</a>
        {% endif %}

      </div>
    </nav>
  </header>
<div>
    <h2> Let Shadow Clan help you study with their AMAZING flashcards.</h2>
</div>
{% endblock content %}