{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container box w-60 h5 bg-light-red">
    <h1 class="f2 lh-copy"> Let Shadow Clan help you study with their AMAZING flashcards. Login or make an accout to continue.</h1>
    <nav class="navbar-menu">
        <div class="f6 lh-copy">
        
          {% if user.is_authenticated %}
            <a href={% url 'auth_logout' %} class="db">Log Out</a>
          
          {% else %}
          <button class="button is-primary"> <a href={% url 'registration_register' %} class="db">Register</a></button>
            <button class="button is-primary"><a href={% url 'auth_login' %} class="db">Log In</a> </button>
          {% endif %}
      </nav>
</div>
{% endblock content %}  