{% extends "base.html" %}
{% load static %}


{% block javascript %}
<script src={% static "show_prompt.js" %} defer></script>
{% endblock javascript %}



{% block content %}

<h3> Time to Study! </h3>

<a href={% url 'deck_list' %}> Back to Deck List</a>



{% if flashcards.flashcard_deck_id == deck.id %}
    <div class="card" id="card">
      <div class="front">
      <h2 >{{ flashcards.prompt }}</h2>
    </div>
    <div class="back">
      <h2 >{{ flashcards.answer }}</h2>
    </div>
    </div>

{% endif %}
<div>
<!--this div will hold options to flip the card and to go to the next card -->


</div>

{% endblock content %}
