{% extends "base.html" %}

{% load static %}

{% block content %}

<h3> Time to Study! </h3>

<a href={% url 'deck_list' %}>Back to Deck List</a>

<div>
    <p class="f3 lh-copy">{{ flashcard.prompt }}</p>
    <p>{{ flashcard.answer }}</p>
</div>
<div>
<!--this div will hold options to flip the card, to go to the next card, and mark it as studied -->
    <a href={% url 'show_prompt' %}class="db">flip</a>
    <a href={% url 'show_prompt' %}class="db">next</a>
    <p class="db">I got this!</p>
    <p class="db">I don't got this!</p>
</div>

{% endblock content %}