{% extends "base.html" %}

{% load static %}

{% block content %}

<h3> Time to Study! </h3>

<a href={% url 'deck_list' %}>Back to Deck List</a>

<div class="box w-40 h-75 pt4 ma5">
    <p class="f3 lh-copy">{{ flashcards.prompt }}</p>
    <hr>
    <p>{{ flashcards.answer }}</p>
</div>
<div>
    {% if flashcards %}
<!--this div will hold options to flip the card, to go to the next card, and mark it as studied -->

<a href={% url 'show_prompt' deck.slug flashcards.get_next.id%}>Next Flashcard</a>
<a href={% url 'show_incorrect' deck.slug %}>Finish Studying</a>
<div>
<form action="{% url 'add_correct' deck.slug flashcards.pk %}" method="POST">
    {% csrf_token %}
      <button class="button is-primary" type="submit">I got this</button>
      </form>
    </div>
<div class="is-justify-content-flex-start">
<div>
<form action="{% url 'add_incorrect' deck.slug flashcards.pk %}" method="POST">
        {% csrf_token %}
     
          <button class="button is-danger" type="submit">I don't got this</button>
          </form>
</div>
</div>

</div>
{% else %}
<p>No Flashcards found!</p>
{% endif %}



{% endblock content %}

